# Folders
backup/
templates/
outputs/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.pyre/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm / VSCode / Cursor IDE
.idea/
.vscode/
*.code-workspace

# OS junk files
.DS_Store
Thumbs.db

# Logs
*.log

# Local environment variables
*.env
.env.*

# Backup / temp files
*.bak
*.swp
*~
